Repository uktrade/data-hub-frontend, pull requests merged in 2018-02, with the labels that each got.

#1251 Fix rounding errors during OMIS reconciliation
  src/apps/omis/apps/edit/controllers/payment-reconciliation.js
Labels: OMIS, bug

#1258 Replace prime symbols with apostrophe in OMIS content
  src/apps/omis/apps/create/views/sector.njk
  src/apps/omis/apps/edit/views/invoice-details.njk
  src/apps/omis/locales/en/default.json
Labels: OMIS

#1259 Call breadcrumb method in form wizard render function
  src/apps/omis/controllers/form.js
  test/unit/apps/omis/controllers/form.test.js
Labels: OMIS

#1260 Split responsibility of saving and handling success for create
  src/apps/omis/apps/create/controllers/confirm.js
  test/unit/apps/omis/apps/create/controllers/confirm.test.js
  test/unit/apps/omis/controllers/edit.test.js
Labels: OMIS

#1261 Order start skeleton
  src/apps/omis/apps/create/controllers/confirm.js
  src/apps/omis/apps/create/controllers/contact.js
  src/apps/omis/apps/create/controllers/index.js
  src/apps/omis/apps/create/controllers/market.js
  src/apps/omis/apps/create/controllers/sector.js
  src/apps/omis/apps/create/router.js
  src/apps/omis/apps/create/steps.js
  src/apps/omis/apps/create/views/contact.njk
  src/apps/omis/apps/create/views/summary.njk
  src/apps/omis/apps/view/views/work-order.njk
  src/apps/omis/controllers/create.js
  src/apps/omis/controllers/index.js
  src/apps/omis/fields.js
  src/apps/omis/locales/en/default.json
  test/unit/apps/omis/apps/create/controllers/contact.test.js
  test/unit/apps/omis/controllers/create.test.js
Labels: OMIS

#1268 Add content to complete order step of OMIS order
  src/apps/omis/apps/edit/views/complete-order.njk
Labels: OMIS

#1269 Add Croatia to valid EU VAT numbers
  src/apps/omis/apps/edit/fields.js
Labels: OMIS, bug

#1270 Set correct next step for creation journey
  src/apps/omis/apps/create/steps.js
  src/apps/omis/apps/edit/controllers/contact.js
  src/apps/omis/apps/edit/controllers/index.js
  src/apps/omis/apps/edit/steps.js
Labels: OMIS, bug

#1272 Upgrade hmpo form wizard
  package.json
  src/apps/omis/apps/edit/fields.js
  yarn.lock
Labels: OMIS

#1274 Only show contact message when order is not in draft
  src/apps/omis/apps/create/views/contact.njk
Labels: OMIS

#1276 Redirect to redirect property in OMIS controller error handler
  src/apps/omis/controllers/form.js
  test/unit/apps/omis/controllers/form.test.js
Labels: OMIS

#1280 DH-1548 Remove unused sorts
  src/apps/companies/macros.js
  src/apps/contacts/macros.js
  src/apps/events/macros/event-sort-form.js
  src/apps/interactions/macros/collection-sort-form.js
  src/apps/investment-projects/macros.js
  test/acceptance/features/companies/collection.feature
  test/acceptance/features/companies/contacts-collection.feature
  test/acceptance/features/companies/step_definitions/collection.js
  test/acceptance/features/contacts/collection.feature
  test/acceptance/features/contacts/step_definitions/collection.js
  test/acceptance/features/events/collection.feature
  test/acceptance/features/events/step_definitions/collections.js
  test/acceptance/features/step_definitions/list.js
  test/acceptance/pages/contacts/List.js
Labels: WIP

#1279 Wrap company add render method in a try/catch
  src/apps/companies/controllers/add.js
  test/unit/apps/companies/controllers/add.test.js
Labels: bug

#1238 Allow an order to be started without a company
  src/apps/companies/views/orders.njk
  src/apps/omis/apps/create/controllers/company.js
  src/apps/omis/apps/create/controllers/contact.js
  src/apps/omis/apps/create/controllers/index.js
  src/apps/omis/apps/create/router.js
  src/apps/omis/apps/create/steps.js
  src/apps/omis/apps/create/views/company--edit.njk
  src/apps/omis/apps/create/views/company--search.njk
  src/apps/omis/apps/create/views/contact.njk
  src/apps/omis/apps/create/views/summary.njk
  src/apps/omis/apps/list/controllers.js
  src/apps/omis/apps/list/views/list.njk
  src/apps/omis/controllers/create.js
  src/apps/omis/controllers/form.js
  src/apps/omis/fields.js
  test/unit/apps/omis/apps/create/controllers/company.test.js
  test/unit/apps/omis/apps/create/controllers/contact.test.js
  test/unit/apps/omis/controllers/create.test.js
  test/unit/apps/omis/controllers/form.test.js
Labels: OMIS, WIP

#1283 Ensure values are escape correctly
  src/apps/omis/apps/create/views/summary.njk
Labels: OMIS, bug

#1273 Extract OMIS validators to separate library
  src/apps/omis/apps/edit/controllers/payment-reconciliation.js
  src/apps/omis/apps/edit/fields.js
  src/apps/omis/locales/en/default.json
  src/apps/omis/validators.js
  test/unit/apps/omis/validators.test.js
Labels: OMIS

#1300 Ensure correct prop value is passed to select box macro
  src/templates/_macros/form/multiple-choice-field.njk
Labels: bug
