Repository uktrade/data-hub-frontend, pull requests merged in 2018-03, with the labels that each got.

#1304 Fix spacing a different screen widths
  assets/stylesheets/trumps/_layout.scss
Labels: bug

#1281 Options API endpoints
  src/apps/adviser/repos.js
  src/apps/adviser/transformers.js
  src/apps/api/controllers/advisers.js
  src/apps/api/controllers/index.js
  src/apps/api/controllers/options.js
  src/apps/api/controllers/postcode-lookup.js
  src/apps/api/index.js
  src/apps/api/router.js
  src/lib/options.js
  test/unit/apps/adviser/repos.test.js
  test/unit/apps/api/controllers.test.js
  test/unit/apps/api/controllers/advisers.test.js
  test/unit/apps/api/controllers/options.test.js
  test/unit/apps/api/controllers/postcode-lookup.test.js
  test/unit/lib/options.test.js
Labels: Search

#1326 Display contact job title on work order
  src/apps/omis/apps/view/views/work-order.njk
Labels: OMIS

#1329 Hide payment count when only 1 payment
  src/apps/omis/apps/view/views/payment-receipt.njk
Labels: OMIS

#1331 Content amends to OMIS
  src/apps/omis/apps/edit/views/assignee-time.njk
  src/apps/omis/apps/edit/views/complete-order.njk
  src/apps/omis/apps/view/middleware.js
  src/apps/omis/apps/view/router.js
  src/apps/omis/apps/view/views/quote.njk
  src/apps/omis/locales/en/default.json
Labels: OMIS

#1330 Remove vat status step from quote errors
  src/apps/omis/apps/view/middleware.js
  src/apps/omis/apps/view/views/quote.njk
  test/unit/apps/omis/apps/view/middleware.test.js
Labels: OMIS

#1333 Bugfix/dh 1563 search term highlighting
  config/nunjucks/filters.js
  test/unit/config/nunjucks/filters.test.js
Labels: bug

#1334 Fix component modifiers
  assets/stylesheets/components/form/_form-fieldset.scss
  assets/stylesheets/components/form/_form-group.scss
  config/nunjucks/filters.js
  src/templates/_macros/form/entity-search-form.njk
  src/templates/_macros/form/fieldset.njk
  src/templates/_macros/form/form-group.njk
  src/templates/_macros/form/input.njk
  src/templates/_macros/form/multiple-choice-field.njk
  src/templates/_macros/form/select-box.njk
  src/templates/_macros/form/text-area.njk
Labels: bug

#1336 DH-1439 User can unintentionally create duplicate records
  assets/javascripts/app.js
  assets/javascripts/modules/prevent-multiple-submits.js
  src/apps/companies/views/interactions.njk
  src/apps/contacts/views/interactions.njk
  src/templates/_macros/form/form.njk
Labels: bug

#1325 Create journey acceptance tests
  test/acceptance/features/omis/create.feature
  test/acceptance/features/omis/step_definitions/create.js
  test/acceptance/features/step_definitions/common.js
  test/acceptance/fixtures.js
  test/acceptance/pages/omis/create/company.js
  test/acceptance/pages/omis/create/contact.js
  test/acceptance/pages/omis/create/market.js
  test/acceptance/pages/omis/create/sector.js
  test/acceptance/pages/omis/create/start.js
  test/acceptance/pages/omis/create/summary.js
  test/acceptance/pages/omis/order.js
Labels: OMIS

#1343 Place reason for hours worked in hidden content
  src/apps/omis/apps/edit/views/complete-order.njk
  src/apps/omis/locales/en/default.json
Labels: OMIS

#1344 Require verification before completing order
  assets/stylesheets/components/form/_form-group.scss
  src/apps/omis/apps/edit/fields.js
  src/apps/omis/apps/edit/steps.js
  src/apps/omis/apps/edit/views/complete-order.njk
  src/apps/omis/locales/en/default.json
  src/templates/_macros/form/form-group.njk
Labels: OMIS
