Repository uktrade/data-hub-frontend, pull requests merged in 2022-09, with the labels that each got.

#4859 Temporarily disable attendees tab for Aventri events
  src/client/modules/Events/EventAventriDetails/index.jsx
  test/functional/cypress/specs/events/aventri-details-spec.js
Labels: Do Not Merge, aventri

#4872 Release new card styling to all users
  src/apps/companies/apps/activity-feed/controllers.js
  src/apps/companies/apps/activity-feed/es-queries/contact-activity-query-no-aventri.js
  src/apps/companies/apps/activity-feed/repos.js
  src/apps/contacts/views/interactions.njk
  src/client/components/ActivityFeed/ActivityFeed.jsx
  src/client/components/ActivityFeed/activities/CompaniesHouseAccount.jsx
  src/client/components/ActivityFeed/activities/CompaniesHouseCompany.jsx
  src/client/components/ActivityFeed/activities/DirectoryFormsApi.jsx
  src/client/components/ActivityFeed/activities/HmrcExporter.jsx
  src/client/components/ActivityFeed/activities/Interaction.jsx
  src/client/components/ActivityFeed/activities/InvestmentProject.jsx
  src/client/components/ActivityFeed/activities/MaxemailCampaign.jsx
  src/client/components/ActivityFeed/activities/Omis.jsx
  src/client/components/ActivityFeed/activities/Referral.jsx
  test/component/cypress/specs/ActivityFeed/InteractionActivity.test.jsx
  test/end-to-end/cypress/specs/DIT/collection-spec.js
  test/functional/cypress/specs/companies/activity-feed-spec.js
  test/functional/cypress/specs/companies/local-header/under-dnb-investigation-spec.js
  test/functional/cypress/specs/contacts/activity-spec.js
  test/functional/cypress/specs/interaction/details-form-spec.js
  test/sandbox/fixtures/v4/activity-feed/data-hub-and-external-activities.json
Labels: Do Not Merge

#4908 Combining feature flags
  src/apps/companies/apps/activity-feed/constants.js
  src/apps/companies/apps/activity-feed/controllers.js
  src/apps/contacts/controllers/audit.js
  src/apps/contacts/controllers/details.js
  src/apps/contacts/controllers/documents.js
  src/apps/contacts/router.js
  src/apps/interactions/controllers/list.js
  src/apps/interactions/router.sub-app.js
  src/client/modules/Events/CollectionList/index.jsx
  src/client/modules/Events/EventAventriAttendees/index.jsx
  src/client/modules/Events/EventAventriDetails/index.jsx
  test/component/cypress/specs/ActivityFeed/InteractionActivity.test.jsx
  test/component/cypress/specs/ContactLocalHeader.test.jsx
  test/functional/cypress/specs/events/aventri-attendees-spec.js
  test/functional/cypress/specs/events/aventri-details-spec.js
  test/functional/cypress/specs/events/collection-spec.js
  test/functional/cypress/specs/events/filter-spec.js
  test/functional/cypress/specs/events/sort-spec.js
Labels: aventri

#4917 TET-330 Upgrade sentry
  src/client/index.jsx
Labels: WIP
